extends layout

block content
	div.container
		h1 Ajax Countries

		button#load-countries.btn.btn-info Load Countries

		form#search.form-inline
			div.form-group
				input.form-control(type="text" name="country" placeholder="Enter Country")
			button.btn.btn-default(type="submit") Search

		div#list 
			//- h2 Country List
			//- div.country-container
			//- 		ul#country-list.countries


