doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Ajax Countriess
		//- Twitter Bootstrap
		link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="main.css" type="text/css")

	body
		block content
		
		//- JQuery
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- Twitter Bootstrap
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="/javascripts/main.js")