.country-container {
	border: 1px solid cadetblue;
	margin: 3%;
	padding: 4%;
}

.countries {
	list-style: none;
	padding: 0;
}

.countries li {
	position: relative;
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
}

h2 {
	border-top: 1px solid cadetblue;
	margin: 32px;
	padding-top: 3%;
}

.btn {
	margin: 2%;
}

li {
	border: 1px solid cadetblue;
	padding: 6px;
}

.not-found {
	color: red;
}

.not-traveled {
	color: #666666;
	position: absolute;
	top: 39%;
	left: 20%;
}

.traveled {
	color: #5e9e5f;
	position: absolute;
	top: 39%;
	left: 20%;
}